{% extends 'layouts/base.html' %}
{% block title %}
    Confirm Reset Password - {{ block.super }}
{% endblock %}
{% block content %}
{% if validlink %}
<h1>Confirm Password Reset</h1>
<p>Please enter your new password twice below to verify.</p>
<form role="form" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Change Password" />
</form>
{% else %}
<h1>Password Reset Unsuccessful</h1>
<p>The password reset link was invalid. This may be because it was already used.<br />Please request a new password reset</p>
{% endif %}
{% endblock %}