{% load staticfiles %}
{% load humanize %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>
            {% block title %}
                Lake Bottom Radio
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        {% block header %}{% endblock %}
    </head>
    <body>
        <header>
            <h1>Lake Bottom Radio</h1>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <li>
                        <a href="{% url 'list_shows' %}">Archive</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'create_show' %}">Create Show</a>
                    </li>
                    <li>
                        <a href="{% url 'auth_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'auth_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
    </body>
</html>
