{% extends 'layouts/base.html' %}
{% load tz %}
{% block title %}
    {{ show.name }} - {{ block.super }}
{% endblock %}
{% block content %}
    <h1>{{ show.name }}</h1>
    {% include 'includes/show_controls.html' %}
    <h2>About:</h2><p>{{ show.about|linebreaks }}</p><hr />
    <h2>Playlist:</h2>
    {% if playlist %}
    <table class="table">
        <thead>
            <tr>
                <th>Artist</th>
                <th>Title</th>
                <th>Album</th>
                <th>Year</th>
            </tr>
        </thead>
        {% for item in playlist %}
        <tbody>
            <tr>
                <th scope="row"><a href="{% url 'song_detail' slug=item.slug %}">{{ item.artist }}</a></td>
                <td>{{ item.title }}</td>
                <td>{{ item.album }}</td>
                <td>{{ item.year }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    <p>Number of items: {{ playlist|length }}</p>
    {% else %}
        <p>No Playlist</p>
    {% endif %}
    {% localtime on %}
    <h3>Date Created:</h3><p>{{ show.date_created|date:"F d, Y" }}</p>
    {% endlocaltime  %}
{% endblock %}