{% extends 'layouts/base.html' %}
{% block title %}About - {{ block.super }}{% endblock %}
{% block content %}
    <h1>About The Lake Bottom</h1>
    <p> THE BEST INSTRUMENTAL SURF MUSIC FROM THE 1960'S AND BEYOND</p>

    <p>OKAY HERE WE GO AGAIN WITH NEW EQUIPMENT , NEW PLAYLISTS, AN 
    EXPANDED FORMAT.  WE BEGIN BROADCASTING THIS WEDNESDAY,
    MAY 24 AT A NEW TIME, 4.30 PM PACIFIC TIME WITH 30 MINUTES OF
    60'S ROCK FOLLOWED BY OUR USUAL HOUR OF NEW AND OLD 
    INSTRUMENTAL SURF AT 5 PM.  BE SURE AND JOIN US FOR THE BEST
    MUSIC EVER MADE...</p>

    <p>MEANWHILE YOU CAN LISTEN TO KOOL FM 104.5 OUT OF HANFORD,
    CALIFORNIA, FOR THE BEST OF OLDIES</p>

    ​<p>SEND YOUR REQUESTS TO <a href="mailto:jbshudog@gmail.com">JBSHUDOG@GMAIL.COM</a></p>
{% endblock %}