body {
    padding-top: 65px;
    background-image: url('/static/images/bgs/bg2.jpg');
    background-color: #c2f0f0;
}
h1, h2, h3 {
    font-family: 'Tillana', cursive;
}
p {
    font-family: 'Asul', sans-serif;
}
.container {
    height: auto;
}
.container-content, .jumbotron {
    background-color: rgba(242, 242, 242, .90);
}
.jumbotron {
    margin-bottom: 20px;
}
.container-content {
    margin-bottom: 15px;
    min-height: 80vh !important;
    border-radius: 15px;
}
.navbar {
   background-color: rgba(242, 242, 242, .90);
   background: rgba(242, 242, 242, .90);
   border-color: rgba(242, 242, 242, .90);
}
.navbar li { 
    color: #000 
} 